#intro {
	padding   : 0;
	text-align: center;
	border    : 0;
}

#intro h1 {
	font-size: 1.8em;
	margin-top: 2em;
}

#intro .subheading {
	margin-bottom: 2em;
}

#intro .attribution {
	background: transparent;
	text-align: center;
	font-size: 100%;
	font-weight: 300;
	color: white;
	text-shadow: none;
	overflow: hidden;
}

#css { 
	background: url(img/slides/css.gif) no-repeat center 80%; 
}

#css h1 { top: 15%; }

#rules p { 
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 60%;
}

.box-example {
	background: rgba(0, 0, 255, 0.2);
	line-height: 1;
	text-align: justify;
}