#intro {
	padding   : 0;
	text-align: center;
	border    : 0;
}

#intro h1 {
	font-size: 1.8em;
	margin-top: 2em;
}

#intro .subheading {
	margin-bottom: 2em;
}

#intro .attribution {
	background: transparent;
	text-align: center;
	font-size: 100%;
	font-weight: 300;
	color: white;
	text-shadow: none;
	overflow: hidden;
}

#css { 
	background: url(img/slides/css.gif) no-repeat center 80%; 
}

#css h1 { top: 15%; }

#rules p { 
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 60%;
}

.box-example {
	background: rgba(0, 0, 255, 0.2);
	line-height: 1;
	text-align: justify;
}

.box1, .box2, .box3 {
	box-sizing: border-box;
	padding: 1em;
}

.box1 {
	background: hsl(128, 100%, 75%);
}

.box2 {
	background: hsl(192, 100%, 75%);
}

.box3 {
	background: hsl(32, 100%, 75%);
}

.grid-wrapper {
	background: hsl(128,100%,80%);
	margin: -10px auto;
	overflow: hidden;
	padding: 10px;
	max-width: 940px;
}

.grid-row {
	margin-left: -20px;
	overflow: hidden;
}

.col:first-child {
	border-left-color: hsl(128,100%,80%);
}

.col {
	background: hsl(200,100%,80%);
	background-clip: padding-box;
	box-sizing: border-box;
	float: left;
	font-size: 1.2em;
	border-left: 20px solid hsl(0,100%,85%);
	padding: 20px 0;
	text-align: center;
}

.col-1 { width: 8.333333333333334%; }
.col-2 { width: 16.66666667%; }
.col-4 { width: 33.33333333%; }
.col-6 { width: 50.0%; }