#intro {
	padding: 0;
	border: 0;
}

#intro h1 {
	text-align: center;
}

#intro .attribution {
	background: transparent;
	text-align: center;
	font-size: 100%;
	font-weight: 300;
	color: white;
	text-shadow: none;
	overflow: hidden;
}

#html { 
	background: #D8D8D8 url(img/slides/html.jpg) no-repeat center; 
	background-size: cover; 
}

#html h1 { top: 30%; }

#tags { 
	background: #1B1D26 url(img/slides/tags.jpg) no-repeat center; 
	background-size: contain; 
}

#tags h1 { font-size: 0; }

.outlined {
	background: rgba(128,128,128,.5);
	padding: 0 0.2em;
}