/**
	CSSS Koombea Slideshow Theme
	
	@author David Bohórquez
	@version 1.0
*/

/**
 * Variables
 */
.slide h2,
section > header.slide > h1 {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
	font-weight: 100;
}
 
/**
 * Styles
 */

* {
	padding:0;	
	margin:0;
	font:inherit;
	color:inherit;
}

html {
	background: #37291B url(img/cover.jpg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
}

body {
	font-family: sans-serif;
}

button {
	padding:.2em .5em;
}

select {
	color: black;
}

code, pre, style, textarea, input {
	font-family: Consolas, 'Andale Mono', 'Courier New', monospace;	
	background:rgba(0,0,0,.4);
}

code {
	padding:.2em .2em .1em;
	white-space: nowrap;
	border-radius:.2em;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,0,0,0.25);
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 12px rgba(255,255,255,0.15), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

pre, style, textarea {
	padding:.3em .5em;
	margin-left: -.1em;
	border:2px solid rgba(255, 255, 255, .1);
	box-shadow:.1em .1em .5em black inset;
}

	pre > code {
		padding: 0;
		white-space: pre;
		border: 0;
		background: 0;
		box-shadow: none;
	}

textarea {
	width: 100%;
	box-sizing: border-box;
}

strong, b {
	font-weight:bold;	
	font-style: italic;
}

	pre strong {
		text-shadow: 0 0 .6em white;
	}

strong.strong {
	font-style: normal;
}

em {
	font-style: italic;
}

.slide {
	background: rgba(55,41,27,.7);
	background-attachment: fixed;
	box-sizing: border-box;
	color: white;
	min-height: 100%;
	overflow: auto !important;
	padding:0 2.5% 2%;
	text-shadow:.05em .05em .1em rgba(0,0,0,.4);
}

#indicator {
	background: rgba(255, 255, 255, .6);
	color: black;
	text-shadow: .03em .03em .1em white;
}

	section > header.slide > h1 {
		background: rgba(0,0,0,.7);
		font-weight: 400;
	}

	.slide h2 {
		font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
		font-weight: 100;
		font-size: 2.4em;
	}

	.slide a {
		color: white;
	}

	.slide a:hover {
		color: #90C530;
	}
		
	.slide ul {
		list-style:none;	
	}
	
	.slide ol {
		margin-left:2em;	
	}
		
		.slide ul ul {
			margin-left:2em;	
			list-style: none;
		}
		
			.slide li li {
				font-size:80%;
			}
			
		.slide li {
			margin:.2em 0;
		}
		
		.slide ul > li:before {
			content:'\2714';
			color: #90C530;
			padding-right: .2em;
		}
		
			.slide li li:before {
				content: '\279C';
				color: #90C530;
				padding-right: .2em;
			}

.delayed.displayed,
.delayed-children > .displayed {
	opacity: .6;
}
			
body > header.slide,
section > header.slide {
	background: none;
}

	section > header.slide > h1 {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -.6em;
		font-size: 400%;
		line-height: 1;
		text-align: center;
	}

footer.slide h2 {
	text-align: center;
}

.credits {
	margin: 1em 0 0.25em;
}

.slide .emphasis {
	padding: .4em .5em .3em;
	margin: .3em 0;
	background: #f80;
	background: linear-gradient(#fa0, #f80);
	color: white;
	font-weight: bold;
	letter-spacing: -.05em;
	line-height: .85;
	text-shadow: .05em .05em .1em rgba(0,0,0,.4);
	border-radius: .3em;
	box-shadow:.1em .1em .5em black;
}

.light.slide .emphasis {
	box-shadow:.1em .1em .5em rgba(0,0,0,.4);
}

.slide .emphasis::before {
	content: '\279C';
	color: rgba(255,255,255,.5);
	float: left;	
	width: .75em;
	height: 0;
	padding: .45em 0 .3em;
	margin: -.2em .2em 0 -.25em;
	border: .12em solid;
	text-align: center;
	line-height: 0;
	font-size: 120%;
	font-family: inherit;
	text-shadow: none;
	border-radius:999px;
	transform: rotate(45deg);
}

.attribution {
	background: rgba(0,0,0,.8);
	color: white;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: .5em 1em;
	font-size: 30%;
	text-shadow: .05em .05em .1em black;
}

	.attribution a {
		text-decoration: none;
	}
	
	.attribution a::after {
		content:  ' (' attr(href) ')';
	}

/* Syntax highlighting */

.comment {
	color: #999;
}

.string {
	color: yellow;
}

.keyword {
	font-weight: bold;
	color: deeppink;
}

.number, .boolean {
	color: #0cf;
}

.regex {
	color: orange;
}

.tag {
	color: #F92672;
}

.punctuation {
	color: white;
}

.attr-name {
	color: #7FE22E;
}

.attr-value {
	color: #E6DB74;
}

[lang="css"] {
	color: #AD80FD;
}

[lang="css"] .punctuation {
	color: white;
}

.selector {
	color: #7FE22E;
}

.property {
	color: #48B5D5;
}

/* Progress Bar */

#timer {
	background: #90C530;
	font-size: 0;
	height: 2px;
}

/* Columns */

.cf:before,
.cf:after,
.grid:before,
.grid:after {
  content: " ";
  display: table;
}

.cf:after,
.grid:after {
  clear: both;
}

.grid {
	margin-left:-10px;
}

.column {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	line-height: 1em;
	padding: 0 10px;
}

.one-half {
	width: 50%;
}

.one-third {
	width: 33.33%;
}

.two-thirds {
	width: 66.67%;
}

@media screen and (max-width: 480px) {
	.column {
		float: none;
		width: auto !important;
	}
}

.push--bottom { margin-bottom: 10px !important; }
.push-double--bottom { margin-bottom: 20px !important; }
.push-quad--bottom { margin-bottom: 40px !important; }

/* Typhography */

.text--smaller { font-size: 0.6em; }
.text--small { font-size: 0.8em; }
.text--large { font-size: 1.2em; }
.text--larger { font-size: 1.4em; }
.text--center { text-align: center; }
.text--right { text-align: right; }

blockquote {
	background: rgba(0,0,0,0.4);
	line-height: 1.4;
	padding: 0.25em 0.5em;
}

blockquote:before {
	content: '“';
}

blockquote:after {
	content: '”';
}

.quote-author {
	text-align: right;
}

.oasis {
	padding: 1em;
	text-align: center;
}

/* Reset for HTML Examples */

.html-snippet {
	background: white;
	color: black;
	font-family: serif;
	font-size: 16px;
	line-height: 1.4;
	overflow: hidden;
	padding: 10px;
	text-shadow: none;
	width: 100%;
}

.html-snippet button, .html-snippet input, .html-snippet select, .html-snippet textarea { font-family: sans-serif; }
.html-snippet * {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.html-snippet a:focus { outline: thin dotted; }
.html-snippet a:active, .html-snippet a:hover { outline: 0; }
.html-snippet h1, .html-snippet h2, .html-snippet h3, .html-snippet h4, .html-snippet h5, .html-snippet h6 { font-family: inherit; }
.html-snippet h1 { font-size: 2em; margin: .67em 0; }
.html-snippet h2 { font-size: 1.5em; margin: .83em 0; }
.html-snippet h3 { font-size: 1.17em; margin: 1em 0; }
.html-snippet h4 { font-size: 1em; margin: 1.33em 0; }
.html-snippet h5 { font-size: .83em; margin: 1.67em 0; }
.html-snippet h6 { font-size: .67em; margin: 2.33em 0; }
.html-snippet b, .html-snippet strong { font-weight: 700; }
.html-snippet blockquote { margin: 1em 40px; }
.html-snippet hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
.html-snippet p, .html-snippet pre { margin: 1em 0; }
.html-snippet code, .html-snippet kbd, .html-snippet pre, .html-snippet samp { font-family: monospace,serif; _font-family: 'courier new',monospace; font-size: 1em; }
.html-snippet pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
.html-snippet small { font-size: 80%; }
.html-snippet dl, .html-snippet menu, .html-snippet ol, .html-snippet ul { margin: 1em 0; }
.html-snippet dd { margin: 0 0 0 40px; }
.html-snippet menu, .html-snippet ol, .html-snippet ul { padding: 0 0 0 40px; }
.html-snippet nav ul, .html-snippet nav ol { list-style: none; list-style-image: none; }
.html-snippet svg:not(:root) { overflow: hidden; }
.html-snippet figure { margin: 0; }
.html-snippet form { margin: 0; }
.html-snippet fieldset { border: 1px solid silver; margin: 0 2px; padding: .35em .625em .75em; }
.html-snippet legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }
.html-snippet button, .html-snippet input, .html-snippet select, .html-snippet textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
.html-snippet button, .html-snippet input { line-height: normal; }
.html-snippet button, .html-snippet select { text-transform: none; }
.html-snippet textarea { overflow: auto; vertical-align: top; }
.html-snippet table { border-collapse: collapse; border-spacing: 0; }
